body, html{
  margin: 30px;
}

#qr-code {
  position: fixed;
  top: 0; bottom: 0; left: 0;  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: false;
}

.popup {
  margin: 100px  auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 300px;
  position: relative;
}

h1 a {
  color: #444;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
  background-color: #fff;
  color: #444;
  padding: 5px;
  align-items: center;
}

.box {
  text-align: center;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  word-break: break-all;
}

.box p {
  margin: 5px;
}

.box a {
  color: #fff;
  font-size: xx-large;
  margin: 5px;
}
