{{define "title"}}File list{{end}}

{{define "body"}}
{{with $data := .}}
{{if eq $data.CurrentFolder "/"}}
<h1>
  <i class="fa fa-home"></i>
  File list
</h1>
{{else}}
<h1>
  <a href="{{$data.ParentFolder}}"><i class="fa fa-arrow-circle-left"></i></a>
  File list in <b>'{{$data.CurrentFolder}}'</b>
</h1>

{{end}}

{{if $data.Folders}}
<h3>Folders</h3>
<div class="wrapper">
  {{range $folder := $data.Folders}}
  <div class="box">
    <a href="{{$data.CurrentFolder}}{{$folder}}"><i class="fa fa-folder"></i></a>
    <p>{{.}}</p>
  </div>
  {{end}}
</div>
{{end}}

{{if $data.Files}}
<h3>Files</h3>
<div class="wrapper">
  {{range $file := $data.Files}}
  <div class="box">
    <a href="/_/files{{$data.CurrentFolder}}{{$file}}" class="qr-link"><i class="fa fa-qrcode"></i></a>
    <a href="/_/files{{$data.CurrentFolder}}{{$file}}" download><i class="fa fa-download"></i></a>
    <p>{{.}}</p>
  </div>
  {{end}}
</div>
{{end}}
<div id='qr-code' style='display: none;'>
  <div class='popup'></div>
</div>
{{end}}
{{end}}
