{{define "layout"}}
<!doctype html>
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/_app/statics/css/app.css">
  <link
    href="data:image/x-icon;base64,AAABAAEAEBACAAAAAACwAAAAFgAAACgAAAAQAAAAIAAAAAEAAQAAAAAAQAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAKnAAB6MgAASlIAAEtCAAB7AAAAAnkAAP/YAACDBQAAUGMAAPy/AAACQAAAel4AAEpSAABK0gAAel4AAAJAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
    rel="icon" type="image/x-icon" />
  <meta charset="utf-8">
  <title>{{template "title"}}</title>

  <script src="//unpkg.com/vue"></script>
  <script src="//unpkg.com/http-vue-loader"></script>
</head>

<body>
  {{template "body" .}}

  <div id="vue-app">

    <game-card
    :game_name="game.name"
    :game_cover_url="game.cover_url" :game_qr_code_url="game.qr_code_url" :game_desc="game.desc"></game-card>

  </div>

  <script type="module" src="/statics/js/vue-app.js"></script>
</body>

</html>
{{end}}
